In [1]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
def get_engine(user, password, host, port, database):
    """
    Returns an engine to the database
    """
    return create_engine('postgresql://{}:{}@{}:{}/{}'.format(user, password, host, port, database))

engine = get_engine(user=input('Enter your username: '), 
                    password=input("enter password: "), 
                    host='localhost', 
                    port=5432, 
                    database=input("Enter database name: "))
print(engine)

Engine(postgresql://rob_the_programmer:***@localhost:5432/animalshelter)

In [5]:
query = "select * from persons;"
persons_df = pd.read_sql_query(query, engine)
persons_df.head()

,email,first_name,last_name,birth_date,address,state,city,zip_code
0,adam.brown@gmail.com,Adam,Brown,1984-12-22,41 Hill,California,Norwalk,90650
1,alan.cook@hotmail.com,Alan,Cook,None,115 Sunset,California,Inglewood,90301
2,albert.wood@gmail.com,Albert,Wood,1962-01-30,780 Sixth,California,Bell Gardens,90201
3,anna.thompson@hotmail.com,Anna,Thompson,1997-05-11,716 Meadow,California,Los Angeles,90032
4,anne.parker@icloud.com,Anne,Parker,1973-10-21,130 Eleventh,California,Carson,90248